<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       ">

    <!--开启Spring注解-->
    <context:annotation-config/>
    <!--开启Spring MVC注解-->
    <mvc:annotation-driven/>
    <!--开启自动扫描装配-->
    <context:component-scan base-package="com.jguo3.school.*"/>
    
    
    <!-- Spring MVC默认的注解映射的支持 ：提供Controller请求转发，json自动转换等功能-->
    <mvc:annotation-driven />
    
    <!--开启注解：提供spring容器的一些注解-->
    <context:annotation-config/>
    
    <!--静态资源处理方式一：使用mvc:default-servlet-handler,
    default-servlet-name="所使用的Web服务器默认使用的Servlet名称",一般情况下为"default" -->
    <!--<mvc:default-servlet-handler default-servlet-name="default"/>-->
    
    <!--静态资源处理方式二：通过mvc:resources指定静态资源-->
    <!--所有URI为"/static/**"的资源都从"/static/"里查找，这些静态资源缓存1年(即 : 31536000秒)-->
    <!--静态资源配置:js/css等等，缓存1年(即 : 31536000秒)-->
    <mvc:resources mapping="/static/**" location="/static/" cache-period="31536000"/>
    <mvc:resources mapping="/htmlviewresolver/**" location="/htmlviewresolver/" cache-period="31536000"/>

    <!--默认的视图解析器(这里是jsp)-->
    <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="contentType" value="charset=utf-8"/>
        <property name="order" value="10"/>
        <property name="prefix" value="/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    
        <!--注册校验驱动-->
    <mvc:annotation-driven validator="validator"/>
    <!--校验工厂-->
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
        <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>
        <property name="validationMessageSource" ref="messageSource"/>
    </bean>
    <!--validation message 校验消息-->
    <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
        <property name="basename" value="message"/>
        <property name="defaultEncoding" value="utf-8"/>
        <property name="useCodeAsDefaultMessage" value="false"/>
        <property name="cacheSeconds" value="60"/>
    </bean>
    
    
</beans>